name: Create mirror release

on:
  workflow_dispatch:
  schedule:
    # Every day at midnight
    - cron:  "0 0 * * *"

env:
  SPACEMACS_REPO: syl20bnr/spacemacs
  SPACEMACS_BRANCH: develop
  GITHUB_WORKSPACE: ${{ github.workspace }}
  EM_SCRIPT_URL: "https://raw.githubusercontent.com/\
  redguardtoo/\
  elpa-mirror/\
  master/\
  elpa-mirror.el"

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Install Emacs
      id: install_emacs
      uses: purcell/setup-emacs@master
      with:
        version: 27.1

    - name: Download elpa-mirror.el
      id: download_elpa_mirror_script
      run: curl -o "${HOME}/elpa-mirror.el" ${{ env.EM_SCRIPT_URL }}

    - uses: actions/checkout@v2

    - name: checkout Spacemacs repo
      id: checkout_spacemacs_repo
      uses: actions/checkout@v2
      with:
        repository: ${{ env.SPACEMACS_REPO }}
        ref: ${{ env.SPACEMACS_BRANCH }}
        path: spacemacs

    - name: Create local mirror
      id: create_local_mirror
      run: ./create_mirror

    - name: Archive mirror
      id: archive_mirror
      run: zip -r -j elpa.zip testelpa

    - name: Get current date
      id: get_current_date
      run: echo "::set-output name=date::$(date +'%s')"

    - name: Create release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.get_current_date.outputs.date }}
        release_name: testelpa
        body: Spacemacs elpa mirror for testing
        draft: false
        prerelease: false

    - name: Delete old releases
      id: delete_older_releases
      uses: dev-drprasad/delete-older-releases@v0.1.0
      with:
        keep_latest: 7
        delete_tags: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload Release Asset
      id: upload_release_asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: elpa.zip
        asset_name: elpa.zip
        asset_content_type: application/zip
